.artist {
  background-color: white;
  color: black;
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.artist > img {
  height: 50%;
}
.artist__info {
  height: 50%;
}
.artist__info > p {
  font-weight: bold;
}
.artist__info > small {
  font-size: 12px;
  color: gray;
}
.artist__rating {
}
