.logout {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .logout {
    justify-content: center;
  }
}
.logout > button {
  width: 90px;
  height: 30px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.356);
  border: 2px solid white;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
